*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all linear .3s;
    user-select: none;
    /* outline: 2px dashed lightgrey; */
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@font-face {
    font-family: font1;
    src: url(./assets/font/Kanit-Regular.ttf);
}
@font-face {
    font-family: header;
    src: url(./assets/font/Rowdies-Regular.ttf);
}
a{
    text-decoration: none;
}

::-webkit-scrollbar
{
  width: 0px;
  height: 80%;
	background-color: transparent;
}
::-webkit-scrollbar-track
{
  background:rgb(24, 24, 24);
  width: 0px;
}
::-webkit-scrollbar-track
{
  background:transparent;
}
::-webkit-scrollbar-thumb
{
  background-color:#2a2a2a;
  width: 3px;
	border-radius: 20px;
}
::-webkit-scrollbar:hover ::-webkit-scrollbar-thumb{
  width: 3px;
}

#slider_parent{
    position: relative;
}
#slider_parent::before
{
    content: "";
    position: absolute;
    display: block;
    top:0;
    left: 0;
    height:100%;
    width:15%;
    background:linear-gradient(to right, rgb(8, 10, 29) , transparent);
}

#slider_parent::after
{
    content: "";
    position: absolute;
    display: block;
    top:0;
    right: 0;
    height:100%;
    width:15%;
    background:linear-gradient(to left, rgb(8, 10, 29) , transparent);
}